.color-background {
    background-color: #000;
  }
  
  .login-background {
    background-image:url('./loginNaruto.png');
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  
  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 105vh;
  
    
  
    h1 {
      margin-bottom: 30px;
      color: aliceblue;
    }
  
    &__container {
      width: 100%;
      max-width: 400px;
      
      
    }
  
    hr {
      margin: 30px 0;
    }
  
    mat-form-field {
      width: 100%;
      margin-bottom: 30px;
    }
  
    .mdc-button {
      width: 100%;
      
    }
  
    .small-text {
      font-size: 14px;
      display: block;
      text-align: center;
  
      &.providers {
        margin-bottom: 20px;
      }
  
      &.log-in-redirect {
        margin-top: 30px;
  
        a {
          color: white;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
  